@import '../../../styles/base/_variables.scss';

/deep/ app-revenues-source, app-customers-spend {
  width: 100%;
  height: 400px;
}

.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dashboard__item {
  width: calc(50% - 10px);
}

