<div class="l-container">
  <h3>
    {{componentTitle}}
  </h3>

  <md-tab-group>
    <md-tab label="Last Week">

      <div class="aquisition__container">
        <!--Phase one - This can all be made better and lighter but this is the approach for now.-->
        <app-sparkline [title]="'First Time Customer'"
                       [totalCustomers]="58"
                       [barSparklineData]="barSparklineData"
                       [valueField]="'copper2012'"
                       [period]="'Last 4 Weeks'"
                       [becameRepeat]="23"
                       [reactivated]="3"
                       [barPositiveColor]="'#54d76b'"
                       [firstLastColor]="'#a8ebb4'"
                       [seriesType]="'bar'"
                       *ngIf="barSparklineData">
        </app-sparkline>

        <app-sparkline [title]="'Repeat Customer'"
                       [totalCustomers]="100"
                       [barSparklineData]="barSparklineData"
                       [valueField]="'copper2012'"
                       [period]="'Last 4 Weeks'"
                       [becameRepeat]="324"
                       [reactivated]="3"
                       [barPositiveColor]="'#2a666c'"
                       [firstLastColor]="'#93b2b5'"
                       [seriesType]="'bar'"
                       *ngIf="barSparklineData">
        </app-sparkline>

        <app-sparkline [title]="'Became At Risk Customers'"
                       [totalCustomers]="203"
                       [barSparklineData]="barSparklineData"
                       [valueField]="'copper2012'"
                       [period]="'Last 4 Weeks'"
                       [becameRepeat]="20"
                       [reactivated]="3"
                       [barPositiveColor]="'#f1a428'"
                       [firstLastColor]="'#f8d184'"
                       [seriesType]="'bar'"
                       *ngIf="barSparklineData">
        </app-sparkline>

        <app-sparkline [title]="'Became Dormant'"
                       [totalCustomers]="548"
                       [barSparklineData]="barSparklineData"
                       [valueField]="'copper2012'"
                       [period]="'Last 4 Weeks'"
                       [becameRepeat]="13"
                       [reactivated]="13"
                       [barPositiveColor]="'#cd0b24'"
                       [firstLastColor]="'#e5818e'"
                       [seriesType]="'bar'"
                       *ngIf="barSparklineData">
        </app-sparkline>
      </div>

    </md-tab>
    <md-tab label="Weekly Trend">
      <app-dx-side-by-side-chart [trendData]="weeklyTrendData">
      </app-dx-side-by-side-chart>
    </md-tab>
    <md-tab label="Monthly Trend">
      <app-dx-side-by-side-chart [trendData]="weeklyTrendData">
      </app-dx-side-by-side-chart>
    </md-tab>
  </md-tab-group>
</div>
