// fonts
$ff: Arial, Helvetica, sans-serif;
%ff { font-family: $ff; font-weight: normal; }

// colors
$warn: #F5A620;
$error: #D65245;
$success: #4DD965;

$black: black;
$grey-dark: #494A4A;
$grey-medium: #585858;
$grey-light: #747474;
$grey-lightest: #F6F6F7;
$white: white;

$pivotal-blue: #3D6689;
$pivotal-green: #A8C418;

$padding: 20px;
